[submodule "nerdtree"]
	path = nerdtree
    url = https://github.com/scrooloose/nerdtree.git
    ignore = untracked
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
    ignore = untracked
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
    ignore = untracked
[submodule "bundle/ack"]
	path = bundle/ack
	url = https://github.com/mileszs/ack.vim.git
    ignore = untracked
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
    ignore = untracked
[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = https://github.com/msanders/snipmate.vim.git
    ignore = untracked
[submodule "bundle/taglist"]
	path = bundle/taglist
	url = https://github.com/vim-scripts/taglist.vim.git
    ignore = untracked
[submodule "bundle/bufexplorer"]
	path = bundle/bufexplorer
    url = https://github.com/vim-scripts/bufexplorer.zip.git
    ignore = untracked
[submodule "bundle/notes"]
	path = bundle/notes
    url = https://github.com/xolox/vim-notes.git
    ignore = untracked
[submodule "bundle/surround"]
	path = bundle/surround
	url = https://github.com/tpope/vim-surround.git
    ignore = untracked
[submodule "bundle/delimitMate"]
	path = bundle/delimitMate
    url = https://github.com/vim-scripts/delimitMate.vim.git
    ignore = untracked
[submodule "bundle/textile"]
	path = bundle/textile
    url = https://github.com/timcharper/textile.vim.git
    ignore = dirty
[submodule "bundle/matchit"]
	path = bundle/matchit
	url = https://github.com/vim-scripts/matchit.zip.git
    ignore = untracked
[submodule "bundle/VimRepress"]
	path = bundle/VimRepress
    url = https://github.com/vim-scripts/VimRepress.git
    ignore = untracked
[submodule "bundle/pdv"]
	path = bundle/pdv
    url = https://github.com/vim-scripts/PDV--phpDocumentor-for-Vim.git
    ignore = dirty
[submodule "bundle/command-t"]
	path = bundle/command-t
    url = git://git.wincent.com/command-t.git
    ignore = dirty
[submodule "vim-colors-solarized"]
	path = vim-colors-solarized
    url = https://github.com/altercation/vim-colors-solarized.git
    ignore = dirty
[submodule "bundle/colors-solarized"]
	path = bundle/colors-solarized
    url = https://github.com/altercation/vim-colors-solarized.git
    ignore = dirty
[submodule "bundle/mediawiki"]
	path = bundle/mediawiki
    url = https://github.com/vim-scripts/mediawiki.git
    ignore = dirty
[submodule "bundle/ragtag"]
	path = bundle/ragtag
    url = https://github.com/tpope/vim-ragtag.git
    ignore = untracked
[submodule "bundle/pyflakes"]
	path = bundle/pyflakes
    url = https://github.com/mitechie/pyflakes-pathogen.git
    ignore = dirty
[submodule "bundle/supertab"]
	path = bundle/supertab
    url = https://github.com/ervandew/supertab.git
    ignore = dirty
[submodule "bundle/pydoc"]
	path = bundle/pydoc
	url = https://github.com/fs111/pydoc.vim.git
    ignore = dirty
[submodule "bundle/vimroom"]
	path = bundle/vimroom
    url = https://github.com/vim-scripts/vimroom.vim.git
    ignore = dirty
[submodule "bundle/powerline"]
	path = bundle/powerline
    url = https://github.com/Lokaltog/vim-powerline
    ignore = dirty
