[submodule "nerdtree"]
	path = nerdtree
    url = https://github.com/scrooloose/nerdtree.git
    ignore = untracked
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
    ignore = untracked
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
    ignore = untracked
[submodule "bundle/ack"]
	path = bundle/ack
	url = https://github.com/mileszs/ack.vim.git
    ignore = untracked
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
    ignore = untracked
[submodule "bundle/bufexplorer"]
	path = bundle/bufexplorer
    url = https://github.com/vim-scripts/bufexplorer.zip.git
    ignore = untracked
[submodule "bundle/notes"]
	path = bundle/notes
    url = https://github.com/xolox/vim-notes.git
    ignore = untracked
[submodule "bundle/surround"]
	path = bundle/surround
	url = https://github.com/tpope/vim-surround.git
    ignore = untracked
[submodule "bundle/delimitMate"]
	path = bundle/delimitMate
    url = https://github.com/vim-scripts/delimitMate.vim.git
    ignore = untracked
[submodule "bundle/textile"]
	path = bundle/textile
    url = https://github.com/timcharper/textile.vim.git
    ignore = dirty
[submodule "bundle/matchit"]
	path = bundle/matchit
	url = https://github.com/vim-scripts/matchit.zip.git
    ignore = untracked
[submodule "bundle/pdv"]
	path = bundle/pdv
    url = https://github.com/vim-scripts/PDV--phpDocumentor-for-Vim.git
    ignore = dirty
[submodule "bundle/command-t"]
	path = bundle/command-t
    url = https://github.com/wincent/command-t.git
    ignore = dirty
[submodule "vim-colors-solarized"]
	path = vim-colors-solarized
    url = https://github.com/altercation/vim-colors-solarized.git
    ignore = dirty
[submodule "bundle/colors-solarized"]
	path = bundle/colors-solarized
    url = https://github.com/altercation/vim-colors-solarized.git
    ignore = dirty
[submodule "bundle/mediawiki"]
	path = bundle/mediawiki
    url = https://github.com/vim-scripts/mediawiki.git
    ignore = dirty
[submodule "bundle/ragtag"]
	path = bundle/ragtag
    url = https://github.com/tpope/vim-ragtag.git
    ignore = untracked
[submodule "bundle/supertab"]
	path = bundle/supertab
    url = https://github.com/ervandew/supertab.git
    ignore = dirty
[submodule "bundle/vimroom"]
	path = bundle/vimroom
    url = https://github.com/vim-scripts/vimroom.vim.git
    ignore = dirty
[submodule "bundle/vim-gitgutter"]
	path = bundle/vim-gitgutter
    url = git://github.com/airblade/vim-gitgutter.git
    ignore = untracked
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = https://github.com/bling/vim-airline.git
    ignore = untracked
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "bundle/vim-markdown"]
	path = bundle/vim-markdown
	url = https://github.com/tpope/vim-markdown.git
[submodule "bundle/vim-misc"]
	path = bundle/vim-misc
	url = git@github.com:xolox/vim-misc.git
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = git@github.com:majutsushi/tagbar.git
[submodule "bundle/sessionman"]
	path = bundle/sessionman
	url = https://github.com/vim-scripts/sessionman.vim.git
[submodule "bundle/pydiction"]
	path = bundle/pydiction
	url = https://github.com/rkulla/pydiction.git
[submodule "bundle/zeavim"]
	path = bundle/zeavim
	url = git@github.com:KabbAmine/zeavim.vim.git
  ignore = untracked
[submodule "bundle/dash"]
	path = bundle/dash
	url = https://github.com/rizzatti/dash.vim.git
